.list-item {
    padding: 8px;
    cursor: pointer;
    background-color: #00000000;
    transition: background-color 0.2s ease-in;
    margin: 0;

    &:hover {
        background-color: rgb(218, 218, 218);
    }
}

@media (min-width: 800px) {
    .view {
        display: grid;
        grid-template-columns: 250px auto;
        column-gap: 16px;
    }
}
