:global {
    @import "@material/switch/mdc-switch";
}

.container {
    display: inline-block;
    padding: 0 12px;
}

/* Fixes Google's stupid ripple bug */
.no-ripple::before {
    content: none !important;
}

.label {
    margin-left: 8px;
    cursor: pointer;
}
