@import "../vars";

.drawer {
    position: absolute;

    top: 56px;
    left: 0;
    right: 0;
    height: calc(100vh - 56px);
    overflow: hidden;
    max-height: 0;
    transition: max-height 250ms ease;
    color: var(--kbar-primary-text-color);
    background-color: var(--kbar-card-color);

    @media (min-width: $hamburgerBreakpoint) {
        display: none;
    }

    &.open {
        max-height: calc(100vh - 56px);
        overflow: scroll;
        padding-bottom: 200px;
    }

    .inner {
        padding: 16px;

        & > nav {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 0 16px 0;

            a {
                color: var(--kbar-link-color);
            }
        }
    }
}
