{
    "tabWidth": 4,
    "useTabs": false,
    "arrowParens": "always",
    "semi": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "printWidth": 80,
    "quoteProps": "as-needed"
}
