# Define stages
stages:
  - test
  - deploy

# Frontend yarn build & test
test-frontend:
  stage: test
  image: node@sha256:3523df9d45c0280f49f4b503c7e2d354eeab5d676017488dd082188a0f09f99a
  before_script:
    - cd frontend
  script:
    - yarn
    - yarn build
  after_script:
    - cd ..

# Backend gradle build & test
test-backend:
  stage: test
  image: gradle:jdk11@sha256:93b11aaaee8e000325a4cd2e3eb2dba72b855f3775a0b39628ae4590a8807a99
  before_script:
    - cd backend
  script:
    - gradle build --no-daemon
  after_script:
    - cd ..

# Frontend deploy to firebase
deploy-frontend:
  stage: deploy
  image: node@sha256:3523df9d45c0280f49f4b503c7e2d354eeab5d676017488dd082188a0f09f99a
  before_script:
    - cd frontend
    - yarn
    - yarn build
    - npm install -g firebase-tools
  script:
    - firebase deploy --token $FIREBASE_TOKEN
  after_script:
    - cd ..
  only:
    - tags

# Backend deploy needs to be made manually!
