# Define stages
stages:
  - test
  - deploy

# Frontend yarn build & test
test-frontend:
  stage: test
  image: node@sha256:c4bfed36421c310d1fbb6dc51faf98065768fbc1c2c1ddd554813ecaa81bb2db
  before_script:
    - cd frontend
  script:
    - yarn
    - yarn build
  after_script:
    - cd ..

# Backend gradle build & test
test-backend:
  stage: test
  image: gradle:jdk11@sha256:10dd4bd3785808d0be201684e0a5e8ec4d1ac58dc2ce45def791ce10eb44dd9a
  before_script:
    - cd backend
  script:
    - gradle build --no-daemon
  after_script:
    - cd ..

# Frontend deploy to firebase
deploy-frontend:
  stage: deploy
  image: node@sha256:c4bfed36421c310d1fbb6dc51faf98065768fbc1c2c1ddd554813ecaa81bb2db
  before_script:
    - cd frontend
    - yarn
    - yarn build
    - npm install -g firebase-tools
  script:
    - firebase deploy --token $FIREBASE_TOKEN
  after_script:
    - cd ..
  only:
    - tags

# Backend deploy needs to be made manually!
