# Define stages
stages:
  - test
  - deploy

# Frontend yarn build & test
test-frontend:
  stage: test
  image: node@sha256:a2f09f3ab9217c692a4e192ea272866ae43b59fabda1209101502bf40e0b9768
  before_script:
    - cd frontend
  script:
    - yarn
    - yarn build
  after_script:
    - cd ..

# Backend gradle build & test
test-backend:
  stage: test
  image: gradle:jdk11@sha256:03864bfa7750eb95b1e998bb57c367cf3301255636c50e25fd8ad6298a5ea624
  before_script:
    - cd backend
  script:
    - gradle build --no-daemon
  after_script:
    - cd ..

# Frontend deploy to firebase
deploy-frontend:
  stage: deploy
  image: node@sha256:a2f09f3ab9217c692a4e192ea272866ae43b59fabda1209101502bf40e0b9768
  before_script:
    - cd frontend
    - yarn
    - yarn build
    - npm install -g firebase-tools
  script:
    - firebase deploy --token $FIREBASE_TOKEN
  after_script:
    - cd ..
  only:
    - tags

# Backend deploy needs to be made manually!
