build/classes
build/distributions
build/jacoco
build/kotlin
build/reports
build/scripts*
build/test-results
build/tmp
.gradle
.classpath
.settings
.project
gradlew
gradlew.bat
.idea/*
*.xml
gradle-wrapper.*
