.btn {
    border: none;
    box-shadow: none;
    background-color: var(--kbar-accent-color);
    color: #fff;
    font-size: 1em;
    border-radius: 5px;
    padding: 4px 8px;
    transition: opacity 0.2s ease-in;
}

.btn:hover {
    opacity: 0.8;
}

.btn[disabled] {
    opacity: 0.6;
}
