.btn {
    line-height: 28px;
    border: none;
    box-shadow: none;
    background-color: var(--kbar-accent-color);
    color: #fff;
    font-size: 1em;
    border-radius: 5px;
    padding: 8px 16px;
    transition: opacity 0.2s ease-in;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.02em;

    display: inline-flex;
    align-items: center;

    margin-top: 10px;
    margin-right: 10px;

    &:hover {
        opacity: 0.8;
    }

    &[disabled] {
        opacity: 0.6;
    }

    svg {
        vertical-align: middle;
    }
}

.icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-underline {
    text-decoration: none !important;
}
