.node {
    cursor: pointer;
    font-size: 24px;
}

.node--disabled {
    cursor: default;
    font-size: 24px;
}

.text--selected {
    fill: #fff;
}

.text--closed {
    fill: #555555;
}

.svg {
    display: block;
}

.fab {
    position: fixed;
    right: 16px;
    bottom: 16px;
}

@media (min-width: 700px) {
    .fab {
        bottom: 32px;
        right: 32px;
    }
}
