.node {
    cursor: pointer;
    font-size: 20px;
}

.nodeDisabled {
    cursor: default;
    font-size: 20px;
}

.disabled {
    fill: rgb(209, 209, 209);
}

.active {
    fill: #d4bcff;
}

.rectSelected {
    stroke: rgb(66, 66, 66);
    stroke-width: 2;
}

.textClosed {
    fill: #555555;
}
