.node {
    transform: none;
    cursor: default;
}

.f-closed {
    fill: rgb(218, 218, 218);
}

.f-default {
    fill: #d4bcff;
}

.rect--selected {
    /* stroke: hsla(0, 0%, 26%, 1);
    stroke-width: 2; */
    fill: var(--kbar-accent-color);
}

.text--selected {
    fill: #fff;
}

.text--closed {
    fill: #555555;
}

.node--lemma {
    stroke: #e9be4b;
    stroke-width: 2px;
}

.node--selectLemma {
    fill: #e9be4b;
}

.node--closed {
    transform: none;
}

.node--clickable {
    cursor: pointer;
}
