.node {
    transform: none;
    cursor: pointer;
}

.rectSelected {
    stroke: rgb(66, 66, 66);
    stroke-width: 2;
}

.nodeClosed {
    transform: none;
    cursor: default;
}

.textClosed {
    fill: #555555;
}

.fClosed {
    fill: rgb(218, 218, 218);
}

.fDefault {
    fill: #bb94ff;
}

.f1 {
    fill: #bfd6f6;
}
.f2 {
    fill: #8dbdff;
}
.f3 {
    fill: #64a1f4;
}
.f4 {
    fill: #4a91f2;
}
.f5 {
    fill: #3b7dd8;
}
.f6 {
    fill: #63a9fa;
}
.f7 {
    fill: #8e82ff;
}
.f8 {
    fill: #ce78ff;
}
.f9 {
    fill: #ff537e;
}
