.node {
    transform: none;
    cursor: pointer;
}

.rectSelected {
    stroke: rgb(66, 66, 66);
    stroke-width: 2;
}

.nodeClosed {
    transform: none;
    cursor: default;
}

.textClosed {
    fill: #555555;
}

.fClosed {
    fill: rgb(218, 218, 218);
}

.fDefault {
    fill: #d4bcff;
}
