.node {
    transform: none;
    cursor: default;
}

.f-closed {
    fill: var(--kbar-8dp-color);
}

.f-default {
    fill: var(--kbar-accent-light-color);
}

.rect--selected {
    /* stroke: hsla(0, 0%, 26%, 1);
    stroke-width: 2; */
    fill: var(--kbar-accent-color);
}

.text--selected {
    fill: var(--kbar-text-selected-color);
}

.text--closed {
    fill: var(--kbar-text-closed-color);
}

.node--lemma {
    stroke: var(--kbar-accent-2-color);
    stroke-width: 2px;
}

.node--selectLemma {
    fill: var(--kbar-accent-2-color);
}

.node--closed {
    transform: none;
}

.node--clickable {
    cursor: pointer;
}
