/* General styles applying to all components. They can be overwritten */

:root {
    --kbar-accent-color: #673ab7;
    --kbar-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --kbar-shadow-3dp: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    --kbar-border-radius: 4px;
    --kbar-bg-color: #fafafa;
    --kbar-card-color: #fff;
    --kbar-3dp-color: #fff;
    --kbar-8dp-color: rgb(218, 218, 218);
    --kbar-selected-color: #d4bcff;
    --kbar-primary-text-color: #444;
    --kbar-link-color: var(--kbar-accent-color);
    --mdc-theme-secondary: var(--kbar-accent-color);
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--kbar-bg-color);
    font-family: "Helvetica Neue", arial, sans-serif;
    font-weight: 400;
    color: var(--kbar-primary-text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
}

.card {
    background-color: var(--kbar-card-color);
    border-radius: var(--kbar-border-radius);
    padding: 16px;
    box-shadow: var(--kbar-shadow);
    margin-bottom: 16px;
}

h3,
h4 {
    margin: 0 0 1em 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --kbar-bg-color: #121212;
        --kbar-card-color: #212121;
        --kbar-primary-text-color: #fff;
        --kbar-link-color: #c2a1fd;
        --kbar-3dp-color: #242424;
        --kbar-8dp-color: #2d2d2d;
        --kbar-selected-color: var(--kbar-accent-color);
    }

    .mdc-switch:not(.mdc-switch--checked) .mdc-switch__thumb {
        background-color: #212121 !important;
    }
}
