/* General styles applying to all components. They can be overwritten */

@mixin dark {
    --kbar-bg-color: #121212;
    --kbar-card-color: #212121;
    --kbar-primary-text-color: #fff;
    --kbar-secondary-text-color: #c2a1fd;
    --kbar-link-color: #c2a1fd;
    --kbar-3dp-color: #242424;
    --kbar-8dp-color: #2d2d2d;
    --kbar-16dp-color: #333333;
    --kbar-selected-color: var(--kbar-accent-color);
    scrollbar-color: dark;

    :global {
        ::-webkit-scrollbar {
            background: lighten($color: #212121, $amount: 10);
        }
        ::-webkit-scrollbar-thumb {
            background: lighten($color: #212121, $amount: 20);
            -webkit-border-radius: 1ex;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
        }
        ::-webkit-scrollbar-corner {
            background: #000;
        }
    }
}

:root {
    --kbar-accent-color: #673ab7;
    --kbar-accent-light-color: #d4bcff;
    --kbar-accent-light-color-secondary: rgb(169, 134, 240);
    --kbar-accent-trans-color: rgb(67, 38, 117);
    --kbar-accent-2-color: #e9be4b;
    --kbar-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --kbar-shadow-3dp: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    --kbar-shadow-fab: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
        0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    --kbar-border-radius: 4px;
    --kbar-bg-color: #fafafa;
    --kbar-card-color: #fff;
    --kbar-3dp-color: #fff;
    --kbar-8dp-color: rgb(218, 218, 218);
    --kbar-selected-color: var(--kbar-accent-light-color);
    --kbar-primary-text-color: #444;
    --kbar-secondary-text-color: var(--kbar-accent-color);
    --kbar-link-color: var(--kbar-accent-color);
    --kbar-text-selected-color: #fff;
    --kbar-text-closed-color: #555555;
    --mdc-theme-secondary: var(--kbar-accent-color);
}

html[data-theme="dark"],
.dark {
    @include dark;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--kbar-bg-color);
    font-family: "Helvetica Neue", arial, sans-serif;
    font-weight: 400;
    color: var(--kbar-primary-text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin-top: 0;

    a {
        color: var(--kbar-link-color);
    }
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
}

.card {
    background-color: var(--kbar-card-color);
    border-radius: var(--kbar-border-radius);
    padding: 16px;
    box-shadow: var(--kbar-shadow);
    margin-bottom: 16px;
}

.no-pad {
    padding: 0;
}

h3,
h4 {
    margin: 0 0 1em 0;
}

@media (prefers-color-scheme: dark) {
    html[data-theme="auto"] {
        @include dark;
    }

    .mdc-switch:not(.mdc-switch--checked) .mdc-switch__thumb {
        background-color: #212121 !important;
    }
}

.flex-container {
    /* flexbox setup */
    display: flex;
    flex-flow: row;
}

.flex-container > div.first {
    flex: 3 1 50%;
    order: 1;
}

.flex-container > div.second {
    flex: 3 1 50%;
    order: 2;
}

@media (max-width: 700px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-container > div.first,
    .flex-container > div.second {
        /* Return them to document order */
        min-height: 50px;
        order: 0;
    }
}
