/* General styles applying to all components. They can be overwritten */

:root {
    --kbar-accent-color: #673ab7;
    --kbar-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    --kbar-border-radius: 4px;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #fafafa;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
}

.card {
    background-color: #fff;
    border-radius: var(--kbar-border-radius);
    padding: 16px;
    box-shadow: var(--kbar-shadow);
    margin-bottom: 16px;
}

h3 {
    margin: 0 0 1em 0;
}
