.option {
    padding: 8px;
    cursor: pointer;
    background-color: #00000000;
    transition: background-color 0.2s ease-in;
    margin: 0;

    &:hover {
        background-color: var(--kbar-8dp-color);
    }
}

.option-selected {
    background-color: var(--kbar-selected-color);

    &:hover {
        background-color: var(--kbar-selected-color);
    }
}

.origin-list {
    word-spacing: 10px;
}

.origin {
    letter-spacing: 1px;
    color: var(--kbar-secondary-text-color);
    font-weight: bold;
    font-size: 1.5em;
}

.formula {
    letter-spacing: 1px;
    color: var(--kbar-secondary-text-color);
    font-weight: bold;
    font-size: 2em;
}

.option-Disabled {
    background-color: #ff009d00;
    color: rgb(109, 109, 109);
}
