.option {
    padding: 8px;
    cursor: pointer;
    background-color: #00000000;
    transition: background-color 0.2s ease-in;
    margin: 0;

    &:hover {
        background-color: var(--kbar-8dp-color);
    }
}

.option-selected {
    background-color: var(--kbar-selected-color);

    &:hover {
        background-color: var(--kbar-selected-color);
    }
}
