@import "../vars";

.hamburgler {
    display: none;
    box-sizing: initial;
    right: 0;
    top: 0;
    margin: 3px;
    width: 20px;
    height: 20px;
    padding: 18px 23px 12px;
    line-height: 56px;
    text-align: center;
    z-index: 11;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 250ms ease;

    @media (max-width: $hamburgerBreakpoint) {
        display: block;
    }

    &:hover {
        opacity: 1;
    }

    .hb1,
    .hb2,
    .hb3 {
        position: relative;
        width: 20px;
        height: 3px;
        border-width: 1px 0;
        margin: 0 auto 3px;
        padding: 0;
        background: #fff;
        border-radius: 1px;
        font-size: 1px;
        transition: all 200ms ease;
        transform-origin: 0 0;
    }

    &.open {
        .hb1 {
            transform: translate(4px, -1px) rotate(45deg);
        }

        .hb2 {
            opacity: 0;
        }

        .hb3 {
            transform: translate(2px, 1px) rotate(-45deg);
        }
    }
}
