.clause-list-item {
    padding: 8px;
    cursor: pointer;
    background-color: #00000000;
    transition: background-color 0.2s ease-in;
    margin: 0;

    &:hover {
        background-color: rgb(218, 218, 218);
    }
}

.clause-selected {
    background-color: #d4bcff;

    &:hover {
        background-color: #d4bcff;
    }
}
