.help-menu {
    position: fixed;
    top: 86px;
    right: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 870px) {
        display: grid;
        grid-template-columns: 400px 400px;
        grid-auto-flow: row;
        gap: 16px;
    }
}

.child {
    max-width: 400px;
    align-self: flex-start;
    margin-bottom: 16px;

    @media (min-width: 870px) {
        margin: 0;
    }

    video {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 700px) {
    .help-menu {
        right: 32px;
    }
}
@media (min-height: 690px) {
    .dialog {
        min-height: 690px;
    }
}
