:global {
    @import "@material/radio/mdc-radio";
}

.container {
    display: inline-flex;
    padding: 0 12px 0 0;
    height: 40px;
    align-items: center;
}

.native {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.radio {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid var(--mdc-theme-secondary, #018786);
    border-radius: 50%;
}

.native[checked] ~ .inner {
    width: 100%;
    height: 100%;
    transform: scale(0.6);
    background-color: var(--mdc-theme-secondary, #018786);
    border-radius: 50%;
}

.label {
    margin-top: 2px;
    margin-right: 5px;
    cursor: pointer;
}
