.node {
    transform: none;
    cursor: default;
}

.f-closed {
    // FIXME: Use an existing color variable or define a new one.
    fill: rgb(218, 218, 218);
}

.f-default {
    fill: var(--kbar-accent-light-color);
}

.rect--selected {
    fill: var(--kbar-accent-light-color-secondary);
}

.text--selected {
    fill: var(--kbar-text-closed-color);
}

.text--closed {
    fill: var(--kbar-text-closed-color);
}

.node--lemma {
    stroke: var(--kbar-accent-2-color);
    stroke-width: 2px;
}

.node--selectLemma {
    fill: var(--kbar-accent-2-color);
}

.node--closed {
    transform: none;
}

.node--clickable {
    cursor: pointer;
}

.link {
    fill: none;
    stroke: var(--kbar-link-color);
    stroke-width: 2px;
}

.trans {
    // FIXME: Use an existing color variable or define a new one.
    fill: rgba(255, 0, 0, 0);
}

.line--text {
    fill: var(--kbar-primary-text-color);
    cursor: default;
}
.unselected {
    fill: var(--kbar-accent-light-color-secondary);
}
.unselected {
    fill: var(--kbar-accent-light-color-secondary);
}
