.form {
    display: flex;
    flex-direction: column;
}

.radio-group {
    display: inline-flex;
    flex-direction: column;
}

@media (min-width: 700px) {
    .radio-group {
        flex-direction: row;
        align-items: center;
    }
}
