.tut {
    position: fixed;

    max-width: 200px;
    box-shadow: var(--kbar-shadow-3dp);
    background-color: var(--kbar-3dp-color);
}

.svg {
    position: absolute;
    left: 102%;
    bottom: 23%;
    width: 60px;
    height: 30px;
}
