.tut {
    position: fixed;

    max-width: 200px;
    box-shadow: var(--kbar-shadow-3dp);
    background-color: var(--kbar-primary-text-color);
    color: var(--kbar-card-color);
}

.svg {
    position: absolute;
    left: 100%;
    bottom: 23%;
    width: 60px;
    height: 30px;
}
