/* Styles for the home component */

.calculus-grid {
    list-style: none;

    @media (min-width: 700px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.calculus-item {
    border-radius: 5px;
    background-color: var(--kbar-3dp-color);
    box-shadow: var(--kbar-shadow-3dp);

    &-image {
        opacity: 0.6;
        height: 200px;
        display: block;
        width: auto;
    }
}

.home a {
    text-decoration: none;
    color: var(--kbar-link-color);

    &:hover,
    &:focus {
        opacity: 0.8;
    }
}
