/* Styles for the Clause input component */

.input {
    padding: 8px;
    border: 2px solid var(--kbar-accent-color);
    border-radius: var(--kbar-border-radius);
    resize: none;
    width: 100%;
    min-height: 92px;
    font-size: 1.3em;
    margin-block-end: 8px;
    background-color: var(--kbar-3dp-color);
    color: var(--kbar-primary-text-color);
}
p ul li {
    padding: 5px;
}
table tr {
    padding: 5px;
    text-align: center;
}
table tr td {
    padding: 3px;
    border: 1px solid #666666;
}

code {
    color: var(--kbar-secondary-text-color);
    font-weight: bold;
}

.pad-right {
    margin-right: 8px;
}

.pad-left {
    margin-left: 8px;
}
