<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><% preact.title %></title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta
            name="description"
            content="KalkulierbaR helps you master your logic skills - learn to do proofs in various calculi with beautiful graphical representations, helpful feedback along the way, and the confidence of never building an incorrect proof."
        />
        <link
            rel="apple-touch-icon"
            sizes="192x192"
            href="/assets/icons/android-chrome-square-192x192.png"
        />
        <% preact.headEnd %>
    </head>
    <body>
        <% preact.bodyEnd %>
        <noscript>
            <h1>KalkulierbaR</h1>
            <h2>Please enable JavaScript!</h2>
            <p>
                Unfortunately we currently rely on JavaScript for this WebApp.
                If you do not enable it, you won't be able to use this app.
            </p>
        </noscript>
    </body>
</html>
