/* Styles for the Example-List component */

.example{
    background-color: var(--kbar-16dp-color);
    cursor: pointer;
}


p.description{
    font-style: italic;
}


p.params {
    font-style: oblique;
    word-break: break-word;
}