$hamburgerBreakpoint: 700px;

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 56px;
    padding: 0;
    background: var(--kbar-accent-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 50;
    display: flex;
    align-items: center;

    @media (min-width: $hamburgerBreakpoint) {
        padding: 0 10vw;
    }
}

.logo {
    width: 48px;
    height: 48px;
    margin: 0 0 0 8px;

    @media (min-width: $hamburgerBreakpoint) {
        margin: 0;
    }
}

.header h1 {
    margin: 0;
    padding: 0 16px;
    font-size: 24px;
    line-height: 56px;
    font-weight: 400;
    color: #fff;
}

.main-link {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.spacer {
    flex-grow: 1;
}

.nav {
    display: none;
    font-size: 100%;
    justify-self: flex-end;
    padding: 0 16px;

    a,
    button {
        display: inline-block;
        height: 56px;
        line-height: 56px;
        padding: 0 16px;
        min-width: 50px;
        text-align: center;
        background: rgba(255, 255, 255, 0);
        text-decoration: none;
        color: #fff;
        will-change: background-color;

        &:hover,
        &:active {
            background: rgba(0, 0, 0, 0.2);
        }
    }

    button {
        min-width: 128px;
    }

    a.current {
        background: rgba(0, 0, 0, 0.2);

        @media (min-width: $hamburgerBreakpoint) {
            background-size: 0.3rem 100%;
            background-position: left;
            background-repeat: no-repeat;
            background-image: linear-gradient(#ad80ff, #ad80ff);
        }
    }

    button.current {
        background: rgba(0, 0, 0, 0.2);

        @media (min-width: $hamburgerBreakpoint) {
            background-size: 100% 0.3rem;
            background-position: center bottom;
            background-repeat: no-repeat;
            background-image: linear-gradient(#ad80ff, #ad80ff);
        }
    }

    @media (min-width: 700px) {
        display: block;
    }
}

.linkGroup {
    display: inline-block;
    position: relative;

    &-name {
        margin: 16px 0 0 0;
    }

    &-btn {
        background: none;
        box-shadow: none;
        border: none;
        color: #fff;
        font-size: 1em;
        display: inline-block;
        height: 56px;
        cursor: pointer;
    }

    &-nav {
        @media (min-width: $hamburgerBreakpoint) {
            display: none;
            background-color: var(--kbar-3dp-color);
            box-shadow: var(--kbar-shadow-3dp);
            border-radius: 0 0 var(--kbar-border-radius)
                var(--kbar-border-radius);

            &--open {
                display: block;
                position: absolute;
            }

            a {
                width: 100%;
                text-align: left;
                color: var(--kbar-primary-text-color);
            }
        }
    }
}

.hamburger-link {
    a {
        width: 100%;
        text-align: left;
    }
}

.hamburgler {
    display: none;
    box-sizing: initial;
    right: 0;
    top: 0;
    margin: 3px;
    width: 20px;
    height: 20px;
    padding: 18px 23px 12px;
    line-height: 56px;
    text-align: center;
    z-index: 100;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 250ms ease;

    @media (max-width: $hamburgerBreakpoint) {
        display: block;
    }

    &:hover {
        opacity: 1;
    }

    .hb1,
    .hb2,
    .hb3 {
        position: relative;
        width: 20px;
        height: 3px;
        border-width: 1px 0;
        margin: 0 auto 3px;
        padding: 0;
        background: #fff;
        border-radius: 1px;
        font-size: 1px;
        transition: all 200ms ease;
        transform-origin: 0 0;
    }

    &.open {
        .hb1 {
            transform: translate(4px, -1px) rotate(45deg);
        }

        .hb2 {
            opacity: 0;
        }

        .hb3 {
            transform: translate(2px, 1px) rotate(-45deg);
        }
    }
}

.settings {
    padding: 0 16px;

    @media (min-width: $hamburgerBreakpoint) {
        padding: 0;
    }
}

.drawer {
    position: absolute;

    top: 56px;
    left: 0;
    right: 0;
    height: calc(100vh - 56px);
    overflow: hidden;
    max-height: 0;
    transition: max-height 250ms ease;
    color: var(--kbar-primary-text-color);
    background-color: var(--kbar-card-color);

    @media (min-width: $hamburgerBreakpoint) {
        display: none;
    }

    &.open {
        max-height: calc(100vh - 56px);
    }

    .inner {
        padding: 16px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 0 16px 0;

        a {
            color: var(--kbar-link-color);
        }
    }
}

.theme-switcher {
    display: none;
    color: inherit;
    cursor: pointer;

    @supports (--foo: green) {
        display: inline;
        border: none;
        transition: all 0.3s;
        outline: none;
        height: 100%;
        margin-right: 16px;

        img {
            width: 1.6rem;
        }
    }
}

.theme-container {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
    margin-bottom: 15px;
    cursor: pointer;

    @media (max-width: $hamburgerBreakpoint) {
        &:hover,
        &:active,
        &:focus {
            background: rgba(0, 0, 0, 0.2);
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    transition: background-color 0.2s ease;
    @media (max-width: $hamburgerBreakpoint) {
        .server-input-wrapper:focus-within & {
            opacity: 0.5;
        }
    }
}

.server-input {
    overflow-scrolling: unset;
    transition: all 0.2s ease;

    @media (max-width: $hamburgerBreakpoint) {
        &:focus-within {
            transform: translateY(-256px);
            background-color: var(--kbar-8dp-color);
            margin: 0 -16px;
            padding: 8px;
            border-radius: var(--kbar-border-radius);
            box-shadow: var(--kbar-shadow-3dp);
        }
    }
}

.dialog {
    display: none;

    @media (min-width: $hamburgerBreakpoint) {
        display: block;
        max-width: 720px;
    }
}

.settings-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    height: 48px;
    width: 48px;

    @media (min-width: $hamburgerBreakpoint) {
        margin: 0;
    }
}
