.link {
    fill: none;
    stroke: var(--kbar-8dp-color);
    stroke-width: 2px;
}

.lemmaLink {
    fill: none;
    stroke: var(--kbar-accent-2-color);
    stroke-width: 2px;
}

.svg {
    display: block;
    margin: 0 auto;
}

.close-tip {
    &--text {
        font-size: 0.3em;
        fill: var(--kbar-primary-text-color);
    }
}
