name: frontend-pull-request

on:
  pull_request:
    paths:
      - "frontend/**"
      - ".github/workflows/frontend-pull-request.yml"

jobs:
  frontend-pull-request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: "22"

      - name: Check yarn cache and build
        run: |
          cd frontend
          yarn install --check-cache
          yarn build

      - name: Deploy preview channel
        if: github.event.pull_request.head.repo.full_name == github.repository
        uses: FirebaseExtended/action-hosting-deploy@e2eda2e106cfa35cdbcf4ac9ddaf6c4756df2c8c # v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_KALKULIERBAR_8EDA1 }}"
          projectId: kalkulierbar-8eda1
          entryPoint: ./frontend
          expires: 30d
        env:
          FIREBASE_CLI_PREVIEWS: hostingchannels
