name: frontend-push

on:
  push:
    paths:
      - "frontend/**"
      - ".github/workflows/frontend-push.yml"

jobs:
  frontend-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: "22"

      - name: Build
        run: |
          cd frontend
          yarn install --immutable --immutable-cache
          yarn build

      - name: Deploy live channel
        if: github.ref_name == 'master' || github.ref_name == 'main'
        uses: FirebaseExtended/action-hosting-deploy@e2eda2e106cfa35cdbcf4ac9ddaf6c4756df2c8c # v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_KALKULIERBAR_8EDA1 }}"
          projectId: kalkulierbar-8eda1
          entryPoint: ./frontend
          channelId: live
        env:
          FIREBASE_CLI_PREVIEWS: hostingchannels
