name: Build and Deploy to gce.kbar.app

on:
  push:
    branches:
    - master
    - main
    paths-ignore:
    - 'frontend/**'
    - '.github/**'
    - '.gitlab/**'
    - 'scripts/**'
    - 'README.md'

jobs:
  setup-build-publish-deploy:
    name: Setup, Build and Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh/
        echo "${{ secrets.GCE_RSA_KEY }}" > /tmp/id_rsa
        sudo chmod 600 /tmp/id_rsa
        echo "${{ secrets.GCE_KNOWN_HOSTS }}" > ~/.ssh/known_hosts

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Checkout
      uses: actions/checkout@v2

    - name: Build
      run: |
        cd backend 
        ./gradlew build

    - name: Copy
      run: scp -i /tmp/id_rsa backend/build/libs/kalkulierbar-backend-all.jar user@gce.kbar.app:kalkulierbar/fresh.jar

    - name: Activate
      run: ssh -i /tmp/id_rsa user@gce.kbar.app 'mv kalkulierbar/fresh.jar kalkulierbar/production.jar && sudo systemctl restart kalkulierbar'
